body{
    height: 100px;
    padding: 0px;
    background-color: #fcfafa;
    border: 2px solid black;
    background-size: 100%;
    background-image: "downloa.jfif";
    
}
#Navbar{
    box-shadow: 7px 10px 10px black;
    border: 2px solid black;
     padding-bottom: 21.8px;
     display: flex;
     justify-content: space-between;

     background-repeat: no-repeat; 
     background-size: cover;
}
#button{
    display: flex;
    justify-content: space-between;


}

#intro{
    box-shadow: 7px 10px 10px black;
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
    width: 98vw;
}
#skill{
    border: 2px solid black;
    
}
ul{
    display:flex;
    justify-content: space-between;
    
}
.grid-container{
    display: grid;    
    grid-template-columns: auto auto;
    grid-gap:10px;

}
.item{
    box-shadow: 7px 10px 10px black;
    background-color:white;
    padding:10px;
    text-align: center;
}
.grid-container{
    display: grid; 
    grid-row: auto auto auto;   
    grid-template-columns: auto auto auto;
    grid-gap:10px;

}
.skill{
    box-shadow: 7px 10px 10px black;
    background-color:white;
    padding:10px;
    text-align: center;
}
#about{
    margin-top: 20px;
    border:2px solid black ;
}